//@import "~bootstrap/scss/bootstrap";
html,
body,
#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
$mainColor:rgb(255, 183, 24);
nav{
    .navbar-brand{
        a{
            color:$mainColor !important;
        }
    }
}

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
    margin-top: 150px;
}

.header  p{
        text-align: center;
        font-weight: 700;
        font-size: 60px;
        color:$mainColor;
    }
    


.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

//Label
.login-label {
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

table tr td input,.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid $mainColor;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
}

.login-input:hover {
    border: 2px solid $mainColor;
}

.login-input:focus {
    border: 2px solid $mainColor;;
    //box-shadow: 0px 0px 20px $mainColor
}

//Input Placeholder
.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px; //color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color:$mainColor;
    margin-top: 20px;
    color:#fff;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color:$mainColor;;
    color: white;
}

table tr td input{
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $mainColor;
    border-bottom: 16px solid $mainColor;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position:relative;
    margin:0 auto;
    margin-top:100px;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .table td{
      min-width: 40%;
  }